@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

:global {
  // 布局间隔 Start
  .ant-pro-page-header-wrap-children-content {
    margin: 16px 16px 0 !important;
  }
  .ant-pro-table-search {
    height: auto !important;
    margin-bottom: 16px !important;
    padding: 16px 16px 0 16px !important
  }
  .ant-pro-table-search .ant-row:not(.ant-form-item) > .ant-col {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
  }
  .ant-modal-header {
    padding-left: 16px !important;
  }
  .ant-modal-body {
    padding: 16px !important;
  }
  // 布局间隔 End

  // 表单间隔 Start
  .ant-form-item {
    margin-bottom: 16px !important;
  }
  .ant-form-item-with-help {
    margin-bottom: 0 !important;
  }
  .ant-form-item-explain,
  .ant-form-item-extra {
    min-height: 16px !important;
    line-height: 1 !important;
  }
  // 表单间隔 End

  // pro-table 工具条靠左
  .ant-pro-table-toolbar {
    justify-content: flex-start !important;
  }
  .ant-pro-table-toolbar .ant-pro-table-toolbar-title {
    flex: none;
  }

  // pro-table 表头
  .ant-table thead > tr > th {
    background: #fff !important;
    border-top: 1px solid #f0f0f0;
  }

  // pro-table 多选框位置 Start
  .ant-pro-table .ant-table .ant-table-content tr:first-child > th:first-child {
    padding-left: 16px !important;
  }
  .ant-pro-table .ant-table.ant-table-middle .ant-table-content tr:first-child > th:first-child {
    padding-left: 8px !important;
  }
  .ant-pro-table .ant-table.ant-table-small .ant-table-content tr:first-child > th:first-child {
    padding-left: 8px !important;
  }
  // pro-table 多选框位置 End
}
